@{
	var scriptsAndCss = "/Views/Components/_ScriptsAndCss.cshtml";
	var header = "/Views/Components/_Header.cshtml";
	var footer = "/Views/Components/_Footer.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - W03</title>
    @* @Html.Partial("/Views/Components/_ScriptsAndCss.cshtml") *@

	<partial name="@scriptsAndCss" />

</head>
<body>
   
@* @Html.Partial("/Views/Components/_Header.cshtml") *@
	<partial name="@header" />

<div class="container">
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</div>

	@* @Html.Partial("/Views/Components/_Footer.cshtml") *@
	<partial name="@footer" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
